html {
    font-size: 16px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/*
.header {
    height: 6rem;
    background-color: blanchedalmond;
    text-align: center;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 3;
}

.header .company-name {
    font-size: 3rem;
    margin: 0;
    align-items: center;
    display: flex;
    flex-shrink: 3;

}*/

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.services h2 {
    margin: 0;  
    width:  100%;  
    text-align: center;
    font-size: 3rem;
    margin-top: 1rem;
    background-color: blanchedalmond;
}

.services div {
    width: 30rem;
    text-align: center;
    background-color: blanchedalmond;
    margin-top: 2rem;
    height: 35rem;
}

.services .image {
    width: 100%;
    height: 20rem;
    overflow: hidden;
    margin: 0;
}

.services .image img {
    width: 100%;
    margin: 0;
}

.services .content {
    width: 100%;
    height: 40%;
    margin-top: 00.7rem;
}

.services div h4 {
    font-size: 2.5rem;
    margin: 0;
}

.services div p {
    font-size: 1.5rem;
    margin: 0.5rem 0 1.5rem 0;
    padding: 0 0.2rem;
}

.services div button {
    margin-bottom: 1.3rem;
    width: 93%;
    padding: 00.7rem 0;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 1rem;
}

/*LEGAL SERVICES*/

.legal-services {
    background-color: blanchedalmond;
}

.legal-services h3 {
    text-align: center;
    padding: 1rem 0 0 0;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.legal-services ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0;
}

.legal-services ul li {
    text-decoration: none;
    list-style-type: none;
    border: 1px solid white;
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    color: black;
    border-radius: 1rem;
}

.legal-services ul a {
    text-decoration: none;
    list-style-type: none;
}

/*ACOUNTİNG SERVİCES*/


.accounting-services h3 {
    text-align: center;
    padding: 1rem 0 0 0;
    font-size: 2.5rem;
    margin: 0;
}

.accounting-services ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.accounting-services ul li {
    text-decoration: none;
    list-style-type: none;
    border: 1px solid white;
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    background-color: blanchedalmond;
    border-radius: 1rem;
}

.accounting-services ul a {
    text-decoration: none;
    list-style-type: none;
    
}

/*MARKETING SERVICES*/

.marketing-services {
    background-color: blanchedalmond;
}

.marketing-services h3 {
    text-align: center;
    padding: 1rem 0 0 0;
    font-size: 2.5rem;
    margin-bottom: 0;
}

.marketing-services ul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0;
}

.marketing-services ul li {
    text-decoration: none;
    list-style-type: none;
    border: 1px solid white;
    width: fit-content;
    padding: 1rem;
    margin: 1rem;
    background-color: white;
    color: black;
    border-radius: 1rem;
}

.marketing-services ul a {
    text-decoration: none;
    list-style-type: none;
}

/*FOOTER*/
